.calculator {
    border: 1px solid #ccc;
    box-shadow: 10px 10px 30px 0 rgba(0,0,0, 0.50);
    border-radius: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 560px;
    padding: 15px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 10px;
    padding: 10px;
    margin: auto;
}

.button {
    height: 60px;
    padding: 5px;
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #c4c4c4;
    background-color: transparent;
    font-size: 2rem;
    color: #333;
    background-image: linear-gradient(to bottom, transparent, transparent 50%, rgba(0,0,0,0.04));
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, .05), inset 0 0 0 1px rgba(255, 255, 255, .45), inset 0 0 0 1px rgba(255, 255, 255, .15), inset 0 0 0 1px rgba(255, 255, 255, .15);
    text-shadow: 0 1px rgba(255, 255, 255, .4);
}

.button:hover {
    background-color: #eaeaea;
}

.operator {
    color: #fff;
    background-color: #eebb24;
}

.clear {
    background-color: #f0595f;
    border-color: #b0353a;
    color: #fff;
}

.clear:hover {
    background-color: #f17377;
}

.equal-sign {
    background-color: #25a8e0;
    border-color: #25a8e0;
    color: #fff;
}

.equal-sign:hover {
    background-color: #4e9ed4;
}