@font-face {
    font-family: 'digital-7';
    src: url(../assets/fonts/digital-7.ttf);
}

.screen {
    font-family: 'digital-7', sans-serif;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    font-size: 3.5rem;
    height: 30px;
    border: none;
    background-color: #25a8e0;
    color: white;
    text-align: right;
    padding-right: 20px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 20px;
}